.about-section {
    /* background: linear-gradient(to bottom, #1c1c1c, #2a2a2a); */
    background:#000b18;
    padding: 20px 50px;
    color: white;
    min-height: 55vh;
    animation: fadeIn 1.5s ease-in;

  }
  
  .about-section h2 {
    font-size: 2.8rem;
    font-weight: bold;
    color:#00c6ff;
    margin-bottom: 30px;
    text-align: center;
  }
    
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media screen and (max-width: 768px) {
    .about-section {
      padding: 60px 20px;
    }
  
    .about-section h2 {
      font-size: 2.2rem;
    }
  
    .about-content {
      font-size: 1.05rem;
    }
  }
  